<ion-header>
  <ion-toolbar>
    <ion-title text-center>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="medium"  routerLink="/movieInfo">
      <ion-icon style="color: white;" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <!-- <ion-item button *ngFor="let movie of (movies | async)" [routerLink]="['/movieInfo',movie.id]">
      {{movie.name}}
    </ion-item> -->
    <ion-item-sliding   *ngFor="let movie of (movies | async)" >
      <ion-item-options side="start">
        <ion-item-option color="light" [routerLink]="['/movieInfo',movie.id]">Update</ion-item-option>
        <ion-item-option color="danger" (click)="deleteMovie(movie.id)">Delete</ion-item-option>
      </ion-item-options>
  
      <ion-item (click)="presentPopover($event,movie.description)">
        <h5>{{movie.name}}</h5>
      </ion-item> 
      
    </ion-item-sliding>
  </ion-list>
</ion-content>
